test-web-app/src/main/webapp/xml/GK_ORDLIST01_INBOUND.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 sp1 (x64) (http://www.altova.com) by GK SOFTWARE AG (GK SOFTWARE AG) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xsd:element name="GK_ORDLIST01_INBOUND">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">GK_ORDLIST01_INBOUND</xsd:documentation>
			<xsd:documentation xml:lang="en">GK_ORDLIST01_INBOUND</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IDOC">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EDI_DC40">
								<xsd:annotation>
									<xsd:documentation xml:lang="de">IDoc-Kontrollsatz für Schnittstelle zu einem externen System</xsd:documentation>
									<xsd:documentation xml:lang="en">IDoc-control record for interface to external system</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Name der Tabellenstruktur</xsd:documentation>
												<xsd:documentation xml:lang="en">Name of the table structure</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MANDT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Mandant</xsd:documentation>
												<xsd:documentation xml:lang="en">Mandant</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="DOCNUM" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Nummer des IDocs</xsd:documentation>
												<xsd:documentation xml:lang="en">Number of IDocs</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="16"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="DOCREL" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">SAP-Release des IDocs</xsd:documentation>
												<xsd:documentation xml:lang="en">SAP-Release of IDocs</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="STATUS" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Status des IDocs</xsd:documentation>
												<xsd:documentation xml:lang="en">SAP-Release of IDocs</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="DIRECT">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Richtung</xsd:documentation>
												<xsd:documentation xml:lang="en">Direction</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="1">
														<xsd:annotation>
															<xsd:documentation xml:lang="de">Ausgang</xsd:documentation>
															<xsd:documentation xml:lang="en">Output</xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													<xsd:enumeration value="2">
														<xsd:annotation>
															<xsd:documentation xml:lang="de">Eingang</xsd:documentation>
															<xsd:documentation xml:lang="en">Input</xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="OUTMOD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Ausgabemodus</xsd:documentation>
												<xsd:documentation xml:lang="en">Output mode</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="EXPRSS" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Übersteuerung im Eingang</xsd:documentation>
												<xsd:documentation xml:lang="en">Overdriving the inpunt</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="TEST" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Testkennzeichen</xsd:documentation>
												<xsd:documentation xml:lang="en">Test identification</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="IDOCTYP" type="xsd:string" fixed="GK_EXPLIST01">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Name des Basistyps</xsd:documentation>
												<xsd:documentation xml:lang="en">Name of basic type</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CIMTYP" type="xsd:string" fixed="" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Erweiterung (vom Kunden definiert)</xsd:documentation>
												<xsd:documentation xml:lang="en">Extension (from custom defined)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MESTYP" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Nachrichtentyp</xsd:documentation>
												<xsd:documentation xml:lang="en">Message type</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="30"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="MESCOD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Nachrichtenvariante</xsd:documentation>
												<xsd:documentation xml:lang="en">Message variant</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="MESFCT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Nachrichtenfunktion</xsd:documentation>
												<xsd:documentation xml:lang="en">Messagefunction</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="STD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">EDI-Standard, Kennzeichen</xsd:documentation>
												<xsd:documentation xml:lang="en">EDI-Standard, identification</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="STDVRS" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">EDI-Standard, Version und Release</xsd:documentation>
												<xsd:documentation xml:lang="en">EDI-Standard, version and release</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="STDMES" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">EDI-Nachrichtentyp</xsd:documentation>
												<xsd:documentation xml:lang="en">EDI-message type</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SNDPOR">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Absenderport (SAP-System, externes Subsystem)</xsd:documentation>
												<xsd:documentation xml:lang="en">The source port (SAP-System, external subsystem</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SNDPRT">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Partnerart des Absenders</xsd:documentation>
												<xsd:documentation xml:lang="en">Partner of the sender</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SNDPFC" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Partnerrolle des Absenders</xsd:documentation>
												<xsd:documentation xml:lang="en">Partner role of the sender</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SNDPRN">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Partnernummer des Absenders</xsd:documentation>
												<xsd:documentation xml:lang="en">Partner number of the sender</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SNDSAD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Absenderadresse (SADR)</xsd:documentation>
												<xsd:documentation xml:lang="en">Sender address</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="21"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SNDLAD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Logische Adresse des Absenders</xsd:documentation>
												<xsd:documentation xml:lang="en">Logical address of sender</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="70"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="RCVPOR">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Empfängerport</xsd:documentation>
												<xsd:documentation xml:lang="en">Receiver port</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="RCVPRT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Partnerart des Empfängers</xsd:documentation>
												<xsd:documentation xml:lang="en">Partner of receiver</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="RCVPFC" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Partnerrolle des Empfängers</xsd:documentation>
												<xsd:documentation xml:lang="en">Partner role of receiver</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="RCVPRN">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Partnernummer des Empfängers</xsd:documentation>
												<xsd:documentation xml:lang="en">Partner number of receiver</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="RCVSAD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Empfängeradresse (SADR)</xsd:documentation>
												<xsd:documentation xml:lang="en">Address of receiver</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="21"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="RCVLAD" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Logische Adresse des Empfängers</xsd:documentation>
												<xsd:documentation xml:lang="en">Logical address of receiver</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="70"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="CREDAT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Erstellungsdatum</xsd:documentation>
												<xsd:documentation xml:lang="en">Creation date</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="8"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="CRETIM" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Erstellungsuhrzeit</xsd:documentation>
												<xsd:documentation xml:lang="en">Creation timestamp</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="REFINT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Übertragungsdatei (EDI Interchange)</xsd:documentation>
												<xsd:documentation xml:lang="en">File transfer (EDI Interchange)</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="14"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="REFGRP" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Nachrichtengruppe (EDI Message Group)</xsd:documentation>
												<xsd:documentation xml:lang="en">Message group (EDI Message Group)</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="14"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="REFMES" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Nachricht (EDI Message)</xsd:documentation>
												<xsd:documentation xml:lang="en">Message (EDI Message)</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="14"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ARCKEY" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Schlüssel des externen Nachrichtenarchivs</xsd:documentation>
												<xsd:documentation xml:lang="en">Key of the external message archive</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="70"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SERIAL" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Serialisierung</xsd:documentation>
												<xsd:documentation xml:lang="en">Serialization</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="20"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="SEGMENT" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GK_ORDPOS" maxOccurs="999">
								<xsd:annotation>
									<xsd:documentation xml:lang="de">GK Bestellvorschlag</xsd:documentation>
									<xsd:documentation xml:lang="en">GK Order proposal</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ORDNO" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Bestellvorschlagnummer</xsd:documentation>
												<xsd:documentation xml:lang="en">Order proposal number</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ITMNO" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Bestellvorschlagsposition</xsd:documentation>
												<xsd:documentation xml:lang="en">Order proposal position</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="GK_BELNR" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">GK Belegnummer</xsd:documentation>
												<xsd:documentation xml:lang="en">GK document number</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="GK_POSNR" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">GK Positionsnummer</xsd:documentation>
												<xsd:documentation xml:lang="en">GK position number</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="18"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="LOCTO" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Lokation an</xsd:documentation>
												<xsd:documentation xml:lang="en">Location to</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="20"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="LOCFR" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Lokation von</xsd:documentation>
												<xsd:documentation xml:lang="en">Location from</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="20"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="MATNR" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Artikelnummer</xsd:documentation>
												<xsd:documentation xml:lang="en">ItemID</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="40"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="OP_QUAN" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Bedarfsmenge</xsd:documentation>
												<xsd:documentation xml:lang="en">Proposal quantity</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="21"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="OP_QUAN_UOM" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Mengeneinheit vom Bestellvorschlag</xsd:documentation>
												<xsd:documentation xml:lang="en">Unit of measure of order proposal</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="STATVAL" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Bestellvorschlagsstatus</xsd:documentation>
												<xsd:documentation xml:lang="en">Status of order proposal</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="2"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="DELIVDAT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Lieferdatum</xsd:documentation>
												<xsd:documentation xml:lang="en">Delivery date</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="8"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="DISPDAT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Dispositionsdatum</xsd:documentation>
												<xsd:documentation xml:lang="en">Date of disposition</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="8"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ORD_TIME" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">spätester Bestellzeitpunkt</xsd:documentation>
												<xsd:documentation xml:lang="en">Order timestamp</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="EMPST" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Empfangsstelle</xsd:documentation>
												<xsd:documentation xml:lang="en">Receiving location</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="25"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="CHGUSR" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Benutzer</xsd:documentation>
												<xsd:documentation xml:lang="en">User</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="12"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="IDNR" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation xml:lang="de">Identifikator</xsd:documentation>
												<xsd:documentation xml:lang="en">Identifier</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="35"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="SEGMENT" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="BEGIN" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
